body{
    background-color: hsl(220deg 100% 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid black;
    width: auto;
    display: inline-block;
    align-items: center;
    padding: 20px;
    margin:50px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    
}
h1{
    font-size: 40px;
    border-bottom: 2px solid black;
    font-weight: 100px;
    text-shadow: 2px -1px 15px rgba(88,45,45,0.6);
    

}
button{
    margin-left:110px ;
    
    font-size: medium;
}

